html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
#map {
	height: 100%;
	width: 100%;
	z-index: 1;
	position: absolute;
	right: 0;
}
.container{
	position: relative;
	height: 100%;
}
.navmenu-fixed-left{
	width: 70%;
}

.checkable{
	padding: 8px 15px ;
	border-top: 1px solid #ababab;
	border-bottom: 1px solid transparent;
}

.checkable:hover + span{
	display: block;
	width: 100%;
	padding: 5px;
	padding-bottom: 25px;
	color: #999;
}

.checkable + span{
	display: none;
}

.separator{
	padding: 5px;
	text-align: right;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  color: #777;
  font-weight: 200;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: 'L';
  position: absolute;
  top: 2px; left: 4px;
  font-size: 18px;
  line-height: 0.8;
  color: #777;
  transition: all .2s;
  font-weight: 300;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0) scaleX(-1) rotate(-45deg);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1) scaleX(-1) rotate(-45deg);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 1px solid #4778d9!important;
}














/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	#map {
		width: 100%;
	}
	.navmenu-fixed-left{
		width: 50%;
	}
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
	#map {
		width: 100%;
	}
	.navmenu-fixed-left{
		width: 30%;
	}
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
	#map {
		width: 75%;
	}
	.navmenu-fixed-left{
		width: 25%;
	}
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	#map {
		width: 80%;
	}
	.navmenu-fixed-left{
		width: 20%;
	}
}